* {
    box-sizing: border-box;
    margin: 0;
}


.container-box {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    border-radius: 10px; /* Optional: Adds rounded corners to the container */
}

.rounded-circle {
    border: none;    
    border-radius: 50%; /* Ensures the image remains perfectly round */
    background-color: rgb(116, 112, 112);
    outline: none;
}

.cursor {
    cursor: pointer;
    text-decoration: underline;
}

.ongoing {
    background-color:cornsilk
}

.completed-card {
    background-color: rgb(194, 223, 144);
}

.missed-card {
    background-color: rgb(209, 127, 127);
}

.bold {
    font-weight: bold;
}

#red-star {
    color: red;
}