* {
    box-sizing: border-box;
    margin: 0;
}

.container-box {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    border-radius: 10px; /* Optional: Adds rounded corners to the container */
}

.rounded-circle {
    border: 2px solid #ccc; /* Add a 2px solid border with a grey color */
    border-radius: 50%; /* Ensures the image remains perfectly round */
}

.history {
    width: 10%;
    
}