* {
  box-sizing: border-box;
  margin: 0;
  width: vw100;
  height: vh100;
}

/* body {
  transform: scale(0.7); 
  transform-origin: top center;
} */

.custom-alert {

  background-color: dimgray;
  height: 300px;
  width: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hidden {
  display: none;

}