.custom-alert {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width : 300px;
    height: 100px;
  }
  
  .custom-alert.error {
    background-color: #ffcccc;
    color: #ff0000;
  }
  
  .custom-alert.success {
    background-color: #ccffcc;
    color: #00cc00;
  }
  
  .custom-alert.warning {
    background-color: #ffffcc;
    color: #cccc00;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  